.btn-orange{
    background-color: orange;
    color: white;
}
.btn-red{
     background-color: red;
     color: white;
 }
 .btn-blue{
      background-color: blue;
      color: white;
  }

  .inp{
    background: yellow;
  }
  .st{
    color: red;
  }