.box1,
.box2,
.box3 {
  width: 100%;
  height: 25vh;
}

.box1 {
  background-color: rgb(143, 223, 143);
}

.box2 {
  background-color: rgb(223, 143, 199);
}

.box3 {
  background-color: rgb(148, 150, 59);
}
